*{
    margin: 0;
    padding: 0;
}
.container{
 max-width: 400px !important;
 margin: auto;
 font-family: sans-serif;
 letter-spacing: 0.5px;
}
.msg-inbox{
height: 75vh;
}
img{
    max-width: 100%;
}
.msg-header{
    border: 1px solid #ccc;
    width: 100%;
    height: 65px;
    border-bottom: none;
    display: inline-block;
    background-color: #007BFF;
}
.msg-header-img{
    border-radius: 50%;
    width: 40px;
    margin-left: 5%;
    margin-top: 12px;
    float: left;
}
.active{
    width: 120px;
    float: left;
    margin-top: 15px;

}
.active h4{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    margin-bottom: 4px;

}
.active h6{
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: rgba(255, 255, 255, 0.788);
}
.header-icons{
    width: 120px;
    float: right;
    margin-top: 14px;
    margin-right: 8px;
}
.header-icons i{
    color: #fff;
    cursor: pointer;
    margin: 8px;
}
.chat-page{
    height: 80vh;
    padding: 0 0 50px 0;

}


.msg-inbox{
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
}
.chats{
  padding: 30px 15px 0 25px;
}

.msg-page{
    height: 516px;
    overflow: auto;
}
.received-chats-img{
    display: inline-block;
    width: 20px;
    float: left;
}
.received-msg{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox{
    width: 57%;
}
.received-msg-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;

}
.time{
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats{
    overflow: hidden;
    margin: 26px 20px;
}
.outgoing-chats-msg p {
    background: #007bff;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.outgoing-chats-msg{
    float: left;
    width: 46%;
    margin-left: 38%;
}
.outgoing-chats-img{
    display: inline-block;
    width: 20px;
    float: right;
}
.msg-bottom{
    position: relative;
    height: 66px;
    background-color: #007bff;}

.input-group
{
    padding-left: 5px;
    float: right;
   margin-top: 13px;
   margin-right: 20px;
   outline: none !important;
    border-radius: 20px;
    width: 61%;
    height: 40px;
    background-color: #fff;
}
@media screen and(max-width : 364px) {
    .input-group{
        width: 59%;
   }
}
.form-control{
    padding-left: 4px;
    height: 100%;
    width: 80%; 
    display: inline-block;
    float: left;
    border: none !important;
    border-radius: 20px;
}
input{
    outline-style: none;
}
.input-groupe-text{
    background: transparent !important;
    border: none !important;
}
.input-group i{
    color: #007BFF;
    float: right;
    padding: 12px;
}
.bottom-icons{
    float: left;
    margin-top: 19px;
    width: 26% !important;
    margin-left: 15px;
}
.bottom-icons i{
    color: #fff;
    padding: 2px;
}
.form-control:focus{
 border-color: none !important;
 box-shadow: none !important;
 border-radius: 20px;
}

